{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movie Reviews{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}" style="color: black;">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="accordion">
    {% for post in posts %}
      <div class="accordion-item" style="margin-bottom: 20px;">
        <h2 class="accordion-header" id="heading{{ post.id }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ post.id }}" aria-expanded="true" aria-controls="collapse{{ post.id }}" style="background-color: #377ba8; color: white; padding: 15px 25px; font-size: 25px;">
            <i class="fas fa-chevron-down" style="margin-right: 10px; color: black"></i>
            {{ post.title }}
          </button>
        </h2>
        <div id="collapse{{ post.id }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" aria-labelledby="heading{{ post.id }}" data-bs-parent="#accordion">
          <div class="accordion-body" style="background-color: #f8f9fa;">
            <div></div>
            {{ post.body }}
            <hr style="border-color: black;">
            <div class="about" style="font-size: smaller; font-style: italic; color: #6c757d;">by {{ post.username }} on {{ post.created.strftime('%Y-%m-%d') }}</div>
            {% if g.user['id'] == post['author_id'] %}
              <a class="action" href="{{ url_for('blog.update', id=post.id) }}" style="color: #377ba8;">Edit</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
