{% extends 'base.html' %}

{% block title %}
  User Profile
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="mt-5 mb-4">User Profile</h1>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Username: {{ user.username }}</h5>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Bio: {{ user.bio }}</p>
            <a href="{{ url_for('profile.edit_profile') }}" class="btn btn-primary" style="background-color: #5D8AA8;">Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
